<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Password reset</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: sans-serif;
      background-color: #f1f1f1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    h1 {
      font-size: 2rem;
      color: #333;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      color: #666;
      margin-bottom: 1rem;
    }

    a.block {
      display: inline-block;
      padding: 1rem 2rem;
      background-color: #0072c6;
      color: #fff;
      text-decoration: none;
      border-radius: 0.25rem;
      transition: all 0.2s ease-in-out;
    }

    a.block:hover {
      background-color: #005ba1;
    }

    a.inline {
      display: inline-block;
      color: #0072c6;
      text-decoration: none;
    }


    pre {
      display: inline-block;
      padding: 0.5rem 1rem;
      background-color: #0072c6;
      color: #fff;
      border-radius: 0.25rem;
      font-size: 1.2rem;
    }

  </style>

</head>

<body>
  <h1>Password reset</h1>
  <p>
    You have requested a password reset. Click the link below to
    continue.
  </p>
  <p>
    <a class="block" href='{{resetLink}}?token={{token}}'>Reset password</a>
  </p>
  <p>If the URL does not work, visit this <a class="inline" href="{{resetLink}}">link</a> and insert the following code:
  </p>
  <pre>{{token}}</pre>
</body>

</html>
